# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Entorno virtual (NUNCA versionar)
venv/
env/
.venv/

# IDEs y Editores
.vscode/
.idea/
*.swp
*.swo

# Directorios de test (reportes de coverage, etc.)
.pytest_cache/
htmlcov/
.coverage
.tox/

# OS cache
.DS_Store
Thumbs.db

# Historial exportado (CSV / TXT)
*.csv
*.txt
!requirements.txt  # (si se crea se debe ignorar la regla de arriba)

# Certificados MITM generados (ca.key es una clave privada, NUNCA versionar)
certs/


#variable de entorno   
.env

# Builds / installers (no versionar artefactos)
build/
dist/
*.exe
*.rar
*.pkg
*.iss

